:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.card-body{
  background-color: white;

}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width:600px;
  top:25%;
  margin-top: 30%;
  left: 50%;
  right:10%;
  margin-left: -100px;
  margin-right: -30%;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}
#scelta{
    background-color: white;
      margin-top: 5%;
      margin-bottom:-1%;
    padding: 5px;
    margin-left:5%;
    margin-right: 5%;
}
.h1{
  color:  #007bff;
}
.row .CONSIGLIATI{
  background-color: white;
  margin-left:3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom:3%;
}
form{
  padding-left: 3%;
  padding-bottom: 2%;
  background-color: white;
  margin-left:3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom:3%;
}
.menuShow{
  background-color: white;
  margin-left:3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom:3%;
}
